apiVersion: certmanager.k8s.io/v1alpha1
kind: Certificate
metadata:
  name: cluster-cert
  namespace: kubeaddons
spec:
  secretName: cluster-cert
  issuerRef:
    kind: ClusterIssuer
    name: letsencrypt
  commonName: {{ .commonName }}
